name: Trigger auto deployment for cbam-front-prod

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/cbam-front-prod-AutoDeployTrigger-5453f324-07c9-4579-ae21-25cc2f2a088e.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.CBAMFRONTPROD_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: cbaregistry.azurecr.io
          registryUsername: ${{ secrets.CBAMFRONTPROD_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CBAMFRONTPROD_REGISTRY_PASSWORD }}
          containerAppName: cbam-front-prod
          resourceGroup: cbam
          imageToBuild: cbaregistry.azurecr.io/cbam-front-prod:${{ github.sha }}
          
            

     

